table {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 1rem;
    table-layout: fixed;
    border-spacing: 1rem;
}

table thead {
    font-size: 0.7rem;
    color: #83e6c0;
}

table tbody{
    font-size: 1.2rem;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
}